<!-- Seção de Login 4 - Componente de Login com Bootstrap -->
<section class="p-sm-1 p-md-4 p-xl-5">
  <div class="container">
    <!-- Cartão com borda leve e sombra -->
    <div class="card border-light-subtle shadow-sm">
      <div class="row g-0">
        <!-- Coluna para a imagem de login -->
        <div class="col-12 col-md-7 d-none d-md-block">
          <img
            class="img-fluid rounded-start w-100 object-fit-cover"
            src="../../../assets/svg/sign-up-form.svg"
            alt="Login banner"
          />
        </div>
        <!-- Coluna para o formulário de login -->
        <div class="col-12 col-md-5">
           <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
